* {
    margin: 0;
    padding: 0;
}
:root {
    --dark-bg-testimonial-text-about-text: #1F2937;
    --main-logo-text: #F9FAF8;
    --secondary-text-testimonial-bg: #E5E7EB;
    --button-bg-color: #3882F6;
    --font-size: 18px;
}
a {
    text-decoration: none;
    color: var(--secondary-text-testimonial-bg);
    cursor: pointer;
    border-radius: 20px;
    padding: 0.5rem;
    
}

a:hover {
    background-color: blue;
    color: white;
    transition: ease-in-out 0.3s;
}
img {
    width: 100px;
    height: 50px;
}
html {
    font-family: Roboto, sans-serif;
}
header, footer {
    background-color: var(--dark-bg-testimonial-text-about-text);
}
header {
    display: flex;
    flex-direction: column;
}
#container-1, #container-2 {
    display: flex;
    justify-content: space-around;
}
 ul {
    display: flex;
    list-style: none;
    color: var(--secondary-text-testimonial-bg);
    padding-left: 6rem;
    margin-right: 1rem;
}
ul a {
    border: 2px solid white;
}
ul li {
    padding: 1rem 2rem 0 1rem;
}
#img-p {
    display: flex;
    margin: 0.5rem;
    padding-right: 10rem;
    margin-right: 10rem;
}
#img-p p {
    padding: 0.2rem;
}
#img-p img {
    width: 100px;
    height: 50px;
    
}
#h1-p-b h1 {
    color: var(--main-logo-text);
    font-size: 3rem;
    font-weight: 900;
    padding: 0.3rem;
    margin: 0.3rem;
}
#h1-p-b {
    padding: 3rem 3rem 0 0;
    margin: 0 3rem 0 0;
}
#h1-p-b p {
    display: flex;
    flex-direction: column;
    color: var(--secondary-text-testimonial-bg);
    font-size: 1.125rem;
    padding: 0.3rem;
    margin: 0.3rem;
}
#img-p p {
    color: var(--main-logo-text);
    font-size: 1.5rem;
}
#h1-p-b button {
    background-color: var(--button-bg-color);
    color: var(--main-logo-text);
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 20px;
    font-size: 1rem;
}
#h1-p-b button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    transform: scale(1.05);
}
#container-2 img {
    width: 400px;
    height: 400px;
    padding-right: 4.3rem;
    margin-right: 4.3rem;
}
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}
#about h2 {
    color: var(--dark-bg-testimonial-text-about-text);
    font-size: 2.25rem;
    font-weight: 900;
}
.wrap-1 {
    display: flex;
    margin: 1rem;
    padding: 1rem;
}
.wrap-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    border: 2px solid var(--button-bg-color);
    border-radius: 20px;
    margin: 1rem;
}
.wrap-2 p, .wrap-2 img {
    padding: 0.5rem;
} 
.wrap-2 img {
    width: 150px;
    height: 80px;
}
.wrap-2 p {
    color: black;
}
#testimonial {
    background-color: var(--secondary-text-testimonial-bg);
    color: var(--dark-bg-testimonial-text-about-text);
    font-size: 1.25rem;
    font-style: italic;
    padding: 5rem 20rem 5rem 20rem;
    
}
#t-1 {
    font-weight: 300;
}
#t-1 strong {
    color: var(--button-bg-color
    );
}
 #t-2 {
    font-weight: bold;
    text-align: right;
    margin-top: 0.5rem;
}
#contact {
    padding: 2rem 5rem 2rem 5rem;
}
.box {
    display: flex;
    justify-content: space-between;
    background-color: var(--button-bg-color);
    color: var(--main-logo-text);
    padding: 2rem 10rem 2rem 10rem;
    border-radius: 10px;
}
.box button {
    border: 2px solid var(--main-logo-text);
    border-radius: 20px;
    padding: 0.5rem;
    background-color: var(--button-bg-color);
    color: var(--main-logo-text);
    cursor: pointer;
}
.box button:hover {
    background-color: blue;
    color: white;
    border:2px solid white;
    transition: ease-in-out 0.3s;
    transform: scale(1.1);
}
footer {
    text-align: center;
    padding: 1.5rem;
    color: var(--main-logo-text);
}